<mat-card>Add Data Product</mat-card>

<form class="example-container" [formGroup]="form" #formProduct="ngForm">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" minlength="2" required formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Price" minlength="2" required formControlName="price">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Stock" minlength="2" required formControlName="stock"> 
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="formProduct.invalid" (click)="save()">
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>
</form>